services:
  jenkins:
    build: .
    privileged: true
    user: root
    ports:
      - "8075:8075"
      - "50000:50000"
    volumes:
      - ~/jenkins_home:/var/jenkins_home
      - /var/run/docker.sock:/var/run/docker.sock